FLASK_APP_NAME="UVLHUB.IO"
FLASK_ENV=production
DOMAIN=https://foodhub-pn1k.onrender.com
MARIADB_HOSTNAME=db
MARIADB_PORT=3306
MARIADB_DATABASE=uvlhubdb
MARIADB_USER=uvlhubdb_user
MARIADB_PASSWORD=uvlhubdb_password
MARIADB_ROOT_PASSWORD=uvlhubdb_root_password
WEBHOOK_TOKEN=<CHANGE_THIS>
MASTER_KEY=
RESEND_API_KEY=<CHANGE_THIS>
BREVO_API_KEY=
SENDER_EMAIL="emivazcru@alum.us.es"
SENDER_NAME="FoodHub"
EMAIL_VERIFICATION_KEY=123456789
ELASTICSEARCH_URL=
ELASTICSEARCH_USER=
ELASTICSEARCH_PASSWORD=
ELASTICSEARCH_ENABLED=True